<p><h5>Question List</h5></p>
<div class="container pt-3">
  <% @questions.each do |question| %>
    <div class="container question-box">
      <p><%= link_to "#{question.title}", question_path(question) %></p>
    </div>
  <% end %>
  <%= paginate @questions %>
</div>